@charset "utf-8";
*{margin:0; padding:0; box-sizing: border-box;}
#container{width: 100%;}

header{height: 320px;}
header nav{height: 60px; background: black; position: relative;}
#logo{color: aquamarine; font-size: 32px; font-weight: bold;
       position: absolute; left: 0px;}
nav #main-nav{text-align: center;}
nav #main-nav li{display: inline-block; line-height: 60px; margin: 0 16px;}
#main-nav li a{color:white;  font-size: 1em; text-decoration: none; }
#main-nav li a:hover{color: orangered;}
header #main-pic img{width: 100%; height: 260px; }
p{border-bottom: 1px solid #ccc; }
section{height: 320px; padding: 10px 5%;} 
section:nth-of-type(2n){background: #eee;}
section .page-title{margin:20px 0;}
section p{line-height: 2.5;}
section .content .photo{display: none;}
#career .content h2{margin-bottom: 20px;color: blue;}
#career .content ol{padding-left: 30px;}
#career .content ol li{line-height: 2;}

footer{height: 80px; border-top: 2px solid #222;}
#bottom-menu{margin: 10px 20px; list-style: none;}
#bottom-menu li{display: inline-block; margin: 10px 0; padding: 0 10px;
                 border-right: 1px solid #ccc;}
#bottom-menu li:last-child{border:none;}/*사이트맵 옆의 바 숨기기*/                 
#bottom-menu li a{text-decoration: none; color: #444; font-size: 14px;}

@media screen and (min-width:780px) {
  header{height: 350px;}
  header nav #main-nav li{margin: 0 40px;}
  header #main-pic img{height: 290px;}
   
  section{width:100%;height: 380px;}
  #profile{float:left; width:50%}
  #career{float: right; width: 50%;}
  #skill{clear: both;}
  #skill .photo{display: block; float: left; margin-right: 40px;}

  #bottom-menu {margin: 10px 40px;} 
  #bottom-menu li{margin: 10px 0;padding: 0 10px;} 
}
@media screen and (min-width: 1200px) {
     #container{width: 1200px; margin:0 auto;}
     header{height: 400px;}
     header nav #main-nav li{margin: 0 50px;}
     header #main-pic img{height: 340px;}
     
     section{width:100%;height: 350px;}
     #profile,#career,#skill{width:100%}
     section .content .photo{display: block;}
     #profile .photo, #skill .photo{float: left; margin-right: 20px;}
     #career .photo{float: right; margin-left: 20px;}
    }