@charset "utf-8";
/*모바일 기준*/
*{margin: 0; padding:0px;}
body{background-color: rgb(0,0,102);} 
#container{width: 300px; margin: 0 auto;}
#container .card{
  width: 300px;
  height: 500px;
  background-color: antiquewhite;
  position: relative;
  margin: 20px 10px;
}
/*글자위치는 포지션속성으로 배치함*/
.card .word{
  position: absolute;
  top:300px; left: 10px;
  padding-right: 10px;
}
.card .word h3{margin:16px 0;}

/*테블릿기준*/
@media screen and (min-width:780px) {
  #container{width: 570px;}
  #container .card{width: 550px; height: 250px; position: relative;}
  .card .word{position: absolute; top: 50px; left: 310px;}
}

/*pc기준*/
@media screen and (min-width:1710px) {/*570x3*/
      #container{width: 1750px;}
      #container .card{float: left;}
}