body{
    
    background-color: #02233b;
    margin:0;
}
#c1{
    width: 700px;
    height: 800px;
    margin: 0 auto;
    padding:1px 20px;
    background: url(img/mic.png) no-repeat bottom right;
    background-color: #fff;
}
h1{
    text-align: center;
    background-color: #004344;
    color: white;
    padding: 20px;
}
h2{
    text-align: center;
}
ul li{
    list-style: none;
    font-weight: bold;
    margin: 10px;

}


h3{
    color: orangered;
} 