/*공통스타일(common)*/
@import url('https://fonts.googleapis.com/css2?family=Merienda:wght@300;600&family=Nanum+Gothic&family=Nanum+Gothic+Coding&display=swap');
*{margin:0; padding:0;}
a{text-decoration: none;}
ul{list-style: none;}
#wrap{width: 1200px; margin: 0 auto;}


/*header 메뉴*/
header{width: 100%;height: 100px;background: #0077cc;}
#logo{float: left; width: 250px; line-height: 100px;}
header nav{float: right; width: 900px;  padding-top: 40px;}
#logo h1{padding-left: 20px; color:  greenyellow; font-style: italic;}

/*주메뉴*/
#topmenu{height: 60px; margin-left: 100px;}
#topmenu > li{float: left; position:relative}
#topmenu>li>a{display: block; color: #fff; padding:20px 40px;}
#topmenu > li > a:hover{color: #000;}
/*서브메뉴*/
#topmenu > li >ul{ display: none; background: rgba(160,277,5,0.6) ; position: absolute; 
                      width: 160px;}
#topmenu li:hover>ul{display: block ; z-index: 10;}
#topmenu > li >ul> li{padding: 8px 0 8px 36px;}
#topmenu > li >ul> li > a{font-size: 15px; color:#000;}
#topmenu > li > ul > li> a:hover{color:red}

/*contents 영역*/
#contents{height: 800px; margin-top:100px ;}
#tabmenu{width: 600px; margin:0 auto; }
#tabmenu input[type="radio"]{display: none;}
#tabmenu label{ display: inline-block;
  padding: 15px 25px; color: #aaa;
}
#tabmenu label:hover{color:#222; cursor:pointer;}
#tabmenu input:checked + label{
  color: #f00; border: 1px solid #ddd; background: #eee;
}
#tabmenu .tabcontent{
  display: none; padding: 20px 0 0 0; border-top: 1px solid #ddd;
}
/*' ~ ' 형제선택자 모두선택*/
#tab1:checked ~ #notice,
#tab2:checked ~ #gallery{display: block;}

#tabmenu .tabcontnet h2{display: none;}
#notice ul{margin-left: 30px; list-style: square;}
#notice ul li{line-height: 3; font-size: 14px;}
#gallery ul li{display: inline;}



