#c1{
    /*가로너비:960+40(padding)+2(border)*/
    width: 960px;
    margin:0px auto;
    border: none;
    padding: 10px 20px;
    line-height: 2;
}
div{
    border:1px solid #ccc;
    margin-bottom: 20px;
    padding: 0px 20px 20px 20px;
}
#description{
    border-top-right-radius: 20px;
    border-top-left-radius: 20px;
}
#product{
    border-bottom-left-radius: 20px;
    border-bottom-right-radius: 20px;
}
   table{
      border:1px solid #ccc;
      border-collapse: collapse;
   }
   th,td{
    border:1px solid #ccc;
    padding:10px;
   }
   caption{margin-bottom: 10px;}
   thead{background: wheat;}
   